* {
  padding: 0;
  margin: 0;
}
@font-face {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    src: local('Inter'), local('Inter'),
         url('assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('ttf'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}
body {font-family:'Inter', sans-serif;color: #fff; background-color:#191A19;}
h1,h2,h3,h4,h5,h6,p,a {font-family:'Inter', sans-serif;}
ul{
    list-style: none;
}
a:hover {
    text-decoration: none;
}
.primary-color {
    color: #1E5128;
}
.bg-color {
    background-color: #191A19;
}
.nav-link {
    color: #1E5128;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}
.nav-link:hover {
    color: #1E5128;
    font-weight: 400;
}
.list-group{list-style-type: none;}
.social-links {margin: auto;}
.banner-section{min-height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.banner-section h1 {
    font-size: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.banner-section h3 {
    color: #fff;
    font-weight: 400;
        display: grid;
        font-size: 2rem;
}
.banner-bg {
    background-color: #262626 !important;
}
.banner-image .img-fluid{
    margin-top:70px;
    width: 430px;

}
.banner-title {
    font-size: 52px;
    font-weight: 500;
    letter-spacing: 3px;
    background: -webkit-linear-gradient(#4AC7FA, #E649F5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-subtitle {
    font-size: 28px;
    letter-spacing: 2px;
    color: #42405B;
}
.banner-btn a{
    border-color:#c2410c !important;
    border-radius:50px;
    color: #fff;
    font-size: 16px;
    padding: 12px 27px;
}
.service-title {
    font-size: 48px;
    color: #fff;
    display: block;
    line-height: 54px;
}
.service-title span {
    background: -webkit-linear-gradient(#9a3412, #c2410c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.service-description {
    font-size: 20px;
    letter-spacing: 1px;
}
.service-list__border, .project-list__dec-items {
  border-width: 3px;
  padding: 10px 20px;
    border: 1px solid #262626;
    border-radius: 5px;
    background: #262626;
}
.project-list__title {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}
.project-list__items {
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}
.project-list__items img{
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    object-fit: contain;
    min-height: 220px;
}
.img-fluid{ transition: transform .5s;}
.img-fluid:hover{  -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); }

@media (max-width:768px) {
    .order-place1{
        order:2;
        flex-direction: row;
    }
    .social-links{display: inline-block;margin:20px 0}
    li.social-items {
        display: inline-block;
        margin: 5px;
    }
    .list-group{display: block;}
    .order-place2 {
        order:1;
        flex-direction: row;
    }
    .link-border-mobile{display: none;}
    .banner-title {font-size: 36px;}
}
/* project case study styling */
.case-study {
        background: #191A19;
}
.case-study h1 {
    color: #fff;
    font-size: 48px;
}
.project-head {
    background: #512D6D;
    min-height: 450px;
    margin-top: 106px;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.project-head h1 {
    font-size: 4rem;
    text-align: center;
    color: #fff;
    display: block;
    line-height: 86px;
    margin-bottom: 3rem;
}
.welcome-note {
    font-size: 1.5rem;
}
span.profile-color {
    color: #c2410c;
}
.project-work-main {
    max-width: 300px;
    list-style-type: none;
}
.project-work-main li {
    border: 1px solid #191A19;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    margin-right: 16px;
}
.project-overview {
    padding: 50px 0;
}
.project-subhead {
    color: #fff;
}
br{
    margin: 30px;
}
.p-top-bottom {
    padding:50px 0;
}
.project-text{
    color: #fff;
    font-size: 20px;
    line-height: 32px;
}
.project-contribution li{
    color: #fff;
    margin: 5px 0;
}
.next-project-link {
    text-align: center;
}
.next-project{
    color: #1E5128;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
}
.next-project:hover {
    color: #1E5128;
    font-weight: 400;
}
.maybe-main {
    background: #48b8d0;
}
