* {
  padding: 0; 
  margin: 0; 
}
@font-face {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    src: local('Inter'), local('Inter'),
         url('assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('ttf'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}
body {font-family:'Inter', sans-serif;color: #42405B;}
h1,h2,h3,h4,h5,h6,p,a {font-family:'Inter', sans-serif;}
.primary-color {
    color: #42405B;
}
.bg-color {
    background-color: #FDF0E2;
}
.nav-link {
    color: #42405B;
    font-size: 18px;
    letter-spacing: 1px;
}
.list-group{list-style-type: none;}
.social-links {margin: auto;}
.banner-section{max-width: 610px;}
.banner-image .img-fluid{
    margin-top:70px;
    width: 430px;

}
.banner-title {
    font-size: 52px;
    font-weight: 500;
    letter-spacing: 3px;
    background: -webkit-linear-gradient(#4AC7FA, #E649F5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-subtitle {
    font-size: 28px;
    letter-spacing: 2px;
    color: #42405B;
}
.banner-btn a{
    border-color: #F6661A !important;
    border-radius:50px;
    color: #42405B;
    font-size: 16px;
}
.service-title {
    font-size: 50px;
    color: #42405B;
    display: block;
    line-height: 54px;
}
.service-title span {
    background: -webkit-linear-gradient(#4AC7FA, #E649F5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.service-description {
    font-size: 18px;
    letter-spacing: 1px;
}
.service-list__border, .project-list__dec-items {
  border-width: 3px;
  padding: 10px 20px;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.25));
    transition: filter 0.2s;
    background-image:radial-gradient(circle at 100% 100%, transparent 2px, #AA00FF 2px, #AA00FF 4px, transparent 4px), 
    linear-gradient(to right, #AA00FF, #0091EA),
    radial-gradient(circle at 0% 100%, transparent 2px, #0091EA 2px, #0091EA 4px, transparent 4px), 
    linear-gradient(to bottom, #0091EA, #64DD17), radial-gradient(circle at 0% 0%, transparent 2px, #64DD17 2px, #64DD17 4px, transparent 4px), 
    linear-gradient(to left, #64DD17, #FF6D00), radial-gradient(circle at 100% 0%, transparent 2px, #FF6D00 2px, #FF6D00 4px, transparent 4px),
    linear-gradient(to top, #FF6D00, #AA00FF);
    background-position:top left, top center, top right, center right, bottom right, bottom center, bottom left, center left;
    background-size:4px 4px, calc(100% - (2 * 4px)) 2px, 4px 4px, 2px calc(100% - (2 * 4px));
    background-repeat:no-repeat;

}
.project-list__title {
    font-size: 18px;
    color: #42405B;
    font-weight: 500;
    letter-spacing: 1px;
}
.project-list__items {
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}
.project-list__items img{
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    object-fit: contain;
    min-height: 220px;
}
.img-fluid{ transition: transform .5s;}
.img-fluid:hover{  -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05); }

@media (max-width:768px) {
    .order-place1{
        order:2;
        flex-direction: row;
    }
    .social-links{display: inline-block;margin:20px 0}
    li.social-items {
        display: inline-block;
        margin: 5px;
    }
    .list-group{display: block;}
    .order-place2 {
        order:1;
        flex-direction: row;
    }
    .link-border-mobile{display: none;}
    .banner-title {font-size: 36px;}
}